<html lang="{{@site.locale}}">
    <head>
        <script defer id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="04505020-4694-4a29-8013-01d39e8a17be" data-blockingmode="auto" type="text/javascript"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EPJGY7Z30R"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-EPJGY7Z30R');
        </script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{asset 'built/index.css'}}" />
        <script src="{{asset 'built/index.js'}}" defer></script>

        <title>{{meta_title}}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        {{ghost_head}}
        {{! Outputs important meta data and settings, should always be in <head> }}
        

        </div>
    </head>
    <body class="{{body_class}}">
        <div class="gh-viewport">

            <header id="gh-head" class="gh-head">
                <nav class="gh-head-inner gh-container">

                    <div class="gh-head-brand">
                        <a class="gh-head-logo" href="{{@site.url}}">
                            {{#if @site.logo}}
                                <img
                                    src="{{@site.logo}}"
                                    alt="{{@site.title}}"
                                />
                            {{else}}
                                {{@site.title}}
                            {{/if}}
                        </a>
                        <a class="gh-burger" role="button" aria-label="menu">
                            <div class="gh-burger-box">
                                <div class="gh-burger-inner"></div>
                            </div>
                        </a>
                    </div>
                    <div class="gh-head-menu">
                        {{navigation}}
                    </div>
                </nav>
                
            </header>
            <div class="blue-bar"></div>

            <main class="gh-main">

                {{{body}}}
                {{! All content gets inserted here, index.hbs, post.hbs, etc }}

            </main>

            <footer class="gh-foot">
                <div class="gh-container">
                    <div class="gh-foot-menu">
                        {{navigation type="secondary"}}
                    </div>
                    <div class="gh-foot-socials">
                        <a
                            target="_blank"
                            href="https://bsky.app/profile/calderainteractive.bsky.social"
                        ><img
                                class="social_icon"
                                src="{{asset 'images/bluesky.svg'}}"
                                alt="Bluesky logo"
                            /></a>
                        <a
                            target="_blank"
                            href="https://twitter.com/CalderaInteract"
                        >
                            <img
                                class="social_icon"
                                src="{{asset 'images/twitter.svg'}}"
                                alt="X Logo"
                            />
                        </a>
                        <a
                            target="_blank"
                            href="https://discord.gg/UVDt2ScaDJ"
                        >
                            <img
                                class="social_icon"
                                src="{{asset 'images/discord.svg'}}"
                                alt="Discord logo"
                            />
                        </a>
                        <a
                            target="_blank"
                            href="https://www.youtube.com/@calderainteractive"
                        >
                            <img
                                class="social_icon"
                                src="{{asset 'images/youtube.svg'}}"
                                alt="Youtube logo"
                            />
                        </a>
                    </div>
                    <div class="gh-foot-meta">
                        <p>&copy 2025 Caldera Interactive Ltd.</p>
                        <a href="#">Privacy</a>
                    </div>
                </div>
            </footer>

        </div>

        {{! <foot> }}
        {{ghost_foot}}
        {{! Outputs important scripts - should always be included before closing body tag }}

    </body>
</html>