{{!< default}}

<img class="gh-fullscreen-image" src="{{asset "/images/hero.webp"}}" alt="Concept art for the game The Rabbit Haul">

<div class="gh-page">
    <div class="section gh-container">
        <div class="grid-container">
            <img class="gh-team-photo" src="{{asset "images/team.webp"}}" alt="Photo of the Caldera Interactive team">
            
            <div class="grid-inner-container">
                <h2>Hello, it's nice to meet you!
                </h2>
                <p class="intro_text">We are Caldera Interactive, an indie game studio based in Edmonton, Alberta dedicated to making wholesome quality games with cute aesthetics. Support us by signing up to our playtests!</p>
                 <a id="signup-button-container"  href="/playtest">
                    <button id="signup-button" class="gh-button gh-button-large gh-button-primary">Sign up           
                </button>
                 </a>
            </div>
        </div>
    </div>

    <div id="game" class="section gh-container">
        <h2>The Rabbit Haul</h2>
        <p>Find out about our game</p>
        <div class="spacer-container">
            <article class="gh-game-card-container">
                <img loading="lazy" class="gh-game-card-image" src="{{asset "images/concept.webp"}}" alt="Concept art for the game The Rabbit Haul">
                <p class="gh-game-card-desc">The Rabbit Haul is a single-player tower defence farming game with action-roguelite elements
                    where you play as
                    a
                    friendly rabbit gardener protecting its haul of fruits and veggies from waves of hungry raccoons known as the
                    Trash
                    Panda Posse. With an array of unique weapons, upgrade paths, powerful towers and crops to unlock, the game
                    offers
                    countless play styles to master.</p>
                <a target="_blank" href="https://store.steampowered.com/app/2514330/The_Rabbit_Haul?utm_source=website"><button  class="gh-button gh-button-large gh-button-primary">Wishlist on Steam            
                </button></a>
            </article>
        </div>
    </div>
    <div id="blog" class="section gh-container">
            <h2>Blog</h2>
            <p>Read more about our journey</p>
        <div class="gh-postfeed">
        {{#get "posts" limit="2"}}
        {{#foreach posts}}

            {{> "card" page=../pagination.page }} {{!-- partials/card.hbs --}}

        {{/foreach}}
        {{/get}}
        </div>
        <div class="gh-button-container">
            <a href="/blog"><button class="gh-button gh-button-large">See all posts -></button></a>
            
        </div>
    </div>
    {{!-- <div id="team" class="section gh-container">
        <h2>Our Team</h2>
        <div class="gh-team-container">
            <article class="gh-team-card">
                <img loading="lazy" class="gh-team-card-image" src="{{asset "images/isael.webp"}}" alt="Photo of Isael Huard">
                <h3 class="gh-team-card-name">Isael Huard</h3>
                <p class="gh-team-card-desc">Producer, Sound Designer</p>
            </article>
            <article class="gh-team-card">
                <img loading="lazy" class="gh-team-card-image" src="{{asset "images/mickael.webp"}}" alt="Photo of Mickael Zerihoun">
                <h3 class="gh-team-card-name">Mickael Zerihoun</h3>
                <p class="gh-team-card-desc">Programmer</p>
            </article>
            <article class="gh-team-card">
                <img loading="lazy" class="gh-team-card-image" src="{{asset "images/titus.webp"}}" alt="Photo of Titus Lo">
                <h3 class="gh-team-card-name">Titus Lo</h3>
                <p class="gh-team-card-desc">Designer, Artist</p>
            </article>
        </div>
    </div>   --}}
</div>
